.pd-set {
  padding-top: 80px;
  padding-bottom: 80px;
}

.fs-lg {
  font-size: 18px;
}

.fs-7 {
  font-size: 14px;
}

.bg-darkGray {
  background: #808285;
}

.vertical-lr {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}

.horizontal-tb {
  -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb;
}

.feature__card {
  background: rgba(0, 0, 0, 0.2);
}
.feature__card__title {
  border-right: 2px solid white;
}

.space-bg {
  position: relative;
}
.space-bg::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.1;
  background: url(../images/space\ img.jpg);
}

.feature__ithome {
  position: relative;
}
.feature__ithome__block {
  position: absolute;
  margin-top: -16px;
  right: -67px;
  width: 65px;
  height: 100%;
  background: #808285;
}

.footer {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
}
.footer::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.1;
  background-image: url(../images/body-space.jpg);
}

.text-darkGray {
  color: #808285;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.circle {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.circle__small {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  bottom: 8px;
  right: -68px;
  width: 150px;
  height: 150px;
}

.font-black {
  color: black;
}

.bg-lightGray {
  background: #a6a6a6;
}

.banner {
  z-index: -1;
  position: relative;
  background: url(../images/space\ img.jpg);
}
.banner-square {
  position: absolute;
  top: 0px;
  left: -270px;
  width: 350px;
  height: 350px;
  background: #808285;
  transform: rotate(80deg);
}
.banner-square::after {
  content: "";
  display: block;
  background: white;
  position: relative;
  top: 40px;
  width: 100%;
  height: 2px;
  transform: rotate(130deg);
}
.banner-square::before {
  content: "";
  display: block;
  background: white;
  position: relative;
  left: 100px;
  width: 100%;
  height: 2px;
  transform: rotate(80deg);
}

.myPhoto {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

\  .myPhoto-square {
  z-index: 1;
}
\  .myPhoto-square::after {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 240px;
  z-index: -1;
  bottom: -16px;
  right: -32px;
  background: #dda978;
}

.intro {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  left: 16px;
}
.intro::after {
  display: block;
  content: "";
  top: 16px;
  left: 16px;
  position: absolute;
  z-index: -1;
  background: #808285;
  width: 100%;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.img-cropper {
  position: relative;
  left: 16px;
  width: 160px;
  height: 240px;
  z-index: 1;
}
.img-cropper::after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #dda978;
}

.study__line {
  position: relative;
}

.line__block {
  position: absolute;
  top: 34px;
  left: -20px;
}

.study {
  position: relative;
}
.study__line::after {
  content: "";
  display: block;
  width: calc(100% + 50px);
  height: 2px;
  position: absolute;
  top: 56px;
  left: -30px;
  border-bottom: 2px dashed #a6a6a6;
}
.study__text {
  color: #808285;
}
.study__text:nth-child(3) {
  position: relative;
  right: -64px;
  color: #808285;
}
.study__text:nth-child(4) {
  position: relative;
  right: -128px;
  color: #808285;
}

.study__problem {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  right: -80px;
}/*# sourceMappingURL=all.css.map */