$h2-gray: #a6a6a6;
$dark-gray: #808285;

.footer{
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.1;   
        background: url(../body-space.jpg);
    }
}

.text-darkGray{
    color:$dark-gray;
}

.object-fit-cover{
    object-fit: cover;
}

.circle{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.font-black{
    color: black;
}

.bg-lightGray{
    background: #a6a6a6;
}

.banner{
    z-index: -1;
    position: relative;
    background: url(../space\ img.jpg);
    &-square{
        position: absolute;
        top: 0px;
        left: -270px;
        width: 350px;
        height: 350px;
        background: $dark-gray;
        transform: rotate(80deg);
        &::after{
            content: "";
            display: block;
            background: white;
            position: relative;
            top: 40px;
            width: 100%;
            height: 2px;
            transform: rotate(130deg);
        }
        &::before{
            content: "";
            display: block;
            background: white;
            position: relative; 
            left: 100px;
            width: 100%;
            height: 2px;
            transform: rotate(80deg);
        }
    }
}

.myPhoto{
    position: relative;
    object-fit: cover;
}
.myPhoto-square{
    z-index: 1;
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        bottom: -16px;
        left: 16px;
        background: #dda978;
    }
}


.intro{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    &::after{
        display: block;
        content: "";
        top: 16px;
        left: 16px;
        position: absolute;
        z-index: -1;
        background: #808285;
        width: 100%;
        height: 100%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}