$h2-gray: #a6a6a6;
$dark-gray: #808285;

// 字體

.rocket-image{
    position: absolute;
    bottom: 0;
    right: -8vw;
    width: 480px;
    height: 450px;
    z-index: -1;
    opacity: 0.5;
    transform: rotate(10deg) translateY(50px);
}

.space-bg{
    overflow: hidden;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

.start-25{
    left: 25%;
}
.start-75{
    left: 75%;
}

.pd-set{
    padding-top: 80px;
    padding-bottom: 80px;
}

.fs-lg{
    font-size: 18px;
}

.fs-7{
    font-size: 14px;
}

.bg-darkGray{
    background: $dark-gray;
}

.vertical-lr{
    writing-mode: vertical-lr;
}
.horizontal-tb{
    writing-mode: horizontal-tb;
}

.feature__card{
    background: rgba(0,0,0,0.2);
    &__title{
        border-right: 2px solid white;
    }
}

.shrink-0{
    flex-shrink: 0;
}

.space-bg{
    position: relative;
    &::after{
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        opacity: 0.1;
        background: url(../images/space\ img.jpg);
    }
}

.feature__ithome{
    position: relative;
    &__block{
        position: absolute;
        margin-top: -16px;
        right: -67px;
        width: 65px;
        height: 100%;
        background: $dark-gray;
    }
}

.quot{
    background: rgba(0,0,0,0.1);
    position: relative;
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 00.1;   
        background-image: url(../images/body-space.jpg);
    }
}

.text-darkGray{
    color:$dark-gray;
}

.object-fit-cover{
    object-fit: cover;
}

.circle{
    width: 225px;
    height: 225px;
    overflow: hidden;
    &__small{
        z-index: 1;
        overflow: hidden;
        position: absolute;
        bottom: -128px;
        right: 8px;
        width: 150px;
        height: 150px;
    }
}

.font-black{
    color: black;
}

.bg-lightGray{
    background: #a6a6a6;
}

.banner{
    z-index: -1;
    position: relative;
    background: url(../images/space\ img.jpg);
    &-square{
        position: absolute;
        top: 0px;
        left: -270px;
        width: 350px;
        height: 350px;
        background: $dark-gray;
        transform: rotate(80deg);
        &::after{
            content: "";
            display: block;
            background: white;
            position: relative;
            top: 40px;
            width: 100%;
            height: 2px;
            transform: rotate(130deg);
        }
        &::before{
            content: "";
            display: block;
            background: white;
            position: relative; 
            left: 100px;
            width: 100%;
            height: 2px;
            transform: rotate(80deg);
        }
    }
}

.myPhoto{
    position: relative;
    object-fit: cover;
}\  
.myPhoto-square{
    z-index: 1;
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 160px;
        height: 240px;
        z-index: -1;
        bottom: -16px;
        // left: 16px;
        right: -32px;
        background: #dda978;
    }
}


.intro{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: 16px;
    &::after{
        display: block;
        content: "";
        top: 16px;
        left: 16px;
        position: absolute;
        z-index: -1;
        background: #808285;
        width: 100%;
        height: 100%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

.img-cropper{
    position: relative;
    left: 16px;
    width: 160px;
    height: 240px;
    z-index: 1;
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #dda978;
    }
}

.study__line{
    position: relative;
}
.timeline__circle{
    position: absolute;
    left: -40px;
    top: 44px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid gray;
}
.timeline__arrow{
    position: absolute;
    top: 37px;
    left: calc(100% + 5px);
}


.study{
    position: relative;
    &__line{
        &::after{
            content:"";
            display: block;
            width: calc(100% + 50px);
            height: 2px;
            position: absolute;
            top: 48px;
            left: -30px;
            // background:red;
            border-bottom: 2px dashed $h2-gray;
        }
    }
    &__text{
        color: #808285;
    }
    &__text:nth-child(3){
        position: relative;
        right: -64px;
        // background: lightblue;
        color: #808285;
    }
    &__text:nth-child(4){
        position: relative;
        right: -128px;
        // background: lightblue;
        color: #808285;
    }
}

.study__problem{
    position: absolute;
    background: rgba(0,0,0,0.2);
    top: 0;
    right: -80px;
}

.timeline__text{
    top: 32px;
}

.mars__image{
    position: absolute;
    filter: grayscale(100%) opacity(0.5);
    bottom: -100px;
    left: -100px;
    z-index: -1;
}